fastapi==0.141.1
uvicorn==0.34.2
grpcio==1.83.1
protobuf==7.35.1
opentelemetry-distro==0.64b0
opentelemetry-exporter-otlp-proto-grpc==1.43.0
opentelemetry-instrumentation-fastapi==0.64b0
opentelemetry-instrumentation-grpc==0.64b0
